<h2>Books</h2>
<div>
  <input type="number" placeholder="00" [formControl]="idFormControl" />
  <input type="text" placeholder="Title" [formControl]="titleFormControl" />
  <button type="submit" (click)="addBook()">Add</button>
</div>
<div>
  <table>
    <thead>
      <th>ID</th>
      <th>Title</th>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <div>
    <h3>Get book by id</h3>
    <input type="number" placeholder="1" [formControl]="getByIdControl" />
    <button (click)="searchById()">Search</button>
    <div>{{ searchedBook?.id }} {{ searchedBook?.title }}</div>
  </div>

  <hr />

  <div>
    <h3>Delete book by id</h3>
    <input type="number" placeholder="1" [formControl]="deleteByIdControl" />
    <button (click)="deleteById()">Delete</button>
  </div>
</div>
